# Database Admin 101 - Lab

## Introduction 

In this lab, you'll go through the process of designing and creating a database. From there, you'll begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Use knowledge of the structure of databases to create a database and populate it

## The Scenario

You are looking to design a database for a school that will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database. What tables would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [1]:
import pandas as pd 
import sqlite3

In [4]:
# Create the database school.sqlite 
db = sqlite3.connect('school.sqlite')
cur = db.cursor()

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), telephone number, street, city, state, and zipcode. Be sure to also create a primary key for the table.

In [5]:
cur.execute('''
    CREATE TABLE IF NOT EXISTS contactInfo (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        first_name TEXT NOT NULL,
        last_name TEXT NOT NULL,
        role TEXT NOT NULL,
        telephone TEXT NOT NULL,
        street TEXT NOT NULL,
        city TEXT NOT NULL,
        state TEXT NOT NULL,
        zipcode TEXT NOT NULL
    )
''')
db.commit()

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [6]:
# Load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

contacts

[{'firstName': 'Christine',
  'lastName': 'Holden',
  'role': 'staff',
  'telephone ': 2035687697,
  'street': '1672 Whitman Court',
  'city': 'Stamford',
  'state': 'CT',
  'zipcode ': '06995'},
 {'firstName': 'Christopher',
  'lastName': 'Warren',
  'role': 'student',
  'telephone ': 2175150957,
  'street': '1935 University Hill Road',
  'city': 'Champaign',
  'state': 'IL',
  'zipcode ': '61938'},
 {'firstName': 'Linda',
  'lastName': 'Jacobson',
  'role': 'staff',
  'telephone ': 4049446441,
  'street': '479 Musgrave Street',
  'city': 'Atlanta',
  'state': 'GA',
  'zipcode ': '30303'},
 {'firstName': 'Andrew',
  'lastName': 'Stepp',
  'role': 'student',
  'telephone ': 7866419252,
  'street': '2981 Lamberts Branch Road',
  'city': 'Hialeah',
  'state': 'Fl',
  'zipcode ': '33012'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'telephone ': 3259909290,
  'street': '1461 Briarhill Lane',
  'city': 'Abilene',
  'state': 'TX',
  'zipcode ': '79602'},
 {'firstName': 'Mary',
  'lastName': 'Raines',
  'role': 'student',
  'telephone ': 9075772295,
  'street': '3975 Jerry Toth Drive',
  'city': 'Ninilchik',
  'state': 'AK',
  'zipcode ': '99639'},
 {'firstName': 'Ed',
  'lastName': 'Lyman',
  'role': 'student',
  'telephone ': 5179695576,
  'street': '3478 Be Sreet',
  'city': 'Lansing',
  'state': 'MI',
  'zipcode ': '48933'}]

In [7]:
# Iterate over the contact list and populate the contactInfo table here
for contact in contacts:
    cur.execute('''
        INSERT INTO contactInfo (first_name, last_name, role, telephone, street, city, state, zipcode)
        VALUES (?,?,?,?,?,?,?,?)
        ''' , (contact['firstName'],contact['lastName'],contact['role'],contact['telephone '],
               contact['street'],contact['city'],contact['state'],contact['zipcode ']))

**Query the Table to Ensure it is populated**

In [8]:
# Your code here 
cur.execute('''
    SELECT * FROM contactInfo
    ''')

rows=cur.fetchall()
for row in rows:
    print(row)

(1, 'Christine', 'Holden', 'staff', '2035687697', '1672 Whitman Court', 'Stamford', 'CT', '06995')
(2, 'Christopher', 'Warren', 'student', '2175150957', '1935 University Hill Road', 'Champaign', 'IL', '61938')
(3, 'Linda', 'Jacobson', 'staff', '4049446441', '479 Musgrave Street', 'Atlanta', 'GA', '30303')
(4, 'Andrew', 'Stepp', 'student', '7866419252', '2981 Lamberts Branch Road', 'Hialeah', 'Fl', '33012')
(5, 'Jane', 'Evans', 'student', '3259909290', '1461 Briarhill Lane', 'Abilene', 'TX', '79602')
(6, 'Jane', 'Evans', 'student', '3259909290', '1461 Briarhill Lane', 'Abilene', 'TX', '79602')
(7, 'Mary', 'Raines', 'student', '9075772295', '3975 Jerry Toth Drive', 'Ninilchik', 'AK', '99639')
(8, 'Ed', 'Lyman', 'student', '5179695576', '3478 Be Sreet', 'Lansing', 'MI', '48933')

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [9]:
db.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [10]:
cur.execute('''
    CREATE TABLE IF NOT EXISTS grades(
    userId INTEGER NOT NULL,
    courseId INTEGER NOT NULL,
    grade INTEGER NOT NULL,
    PRIMARY KEY(userId,courseId))
    ''')

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [11]:
# Find the duplicate entry
cur.execute('''
    SELECT first_name, last_name, telephone, COUNT(*)
    FROM contactInfo
    GROUP BY first_name, last_name, telephone
    HAVING COUNT(*) > 1
''').fetchall()

[('Jane', 'Evans', '3259909290', 2)]

In [12]:
# Delete the duplicate entry
cur.execute('''
    DELETE FROM contactInfo
    WHERE id NOT IN (
        SELECT MIN(id)
        FROM contactInfo
        GROUP BY first_name, last_name, telephone)
''')

In [13]:
# Check that the duplicate entry was removed
cur.execute('''
    SELECT first_name, last_name, telephone, COUNT(*)
    FROM contactInfo
    GROUP BY first_name, last_name, telephone
    HAVING COUNT(*) > 1
''').fetchall()

[]

## Updating an Address

Ed Lyman just moved to `2910 Simpson Avenue York, PA 17403`. Update his address accordingly.

In [15]:
# Update Ed's address
# Query the database to ensure the change was made
address_details = {
    'street': '2910 Simpson Avenue',
    'city': 'York',
    'state': 'PA',
    'zipcode': '174303'
}


cur.execute("""
UPDATE contactInfo
SET street = ?,
    city = ?,
    state = ?,
    zipcode = ?
WHERE first_name = 'Ed'  
""", (address_details['street'], address_details['city'], address_details['state'], address_details['zipcode']))

In [16]:
cur.execute('''
    SELECT * FROM contactInfo
    ''')

rows=cur.fetchall()
for row in rows:
    print(row)

(1, 'Christine', 'Holden', 'staff', '2035687697', '1672 Whitman Court', 'Stamford', 'CT', '06995')
(2, 'Christopher', 'Warren', 'student', '2175150957', '1935 University Hill Road', 'Champaign', 'IL', '61938')
(3, 'Linda', 'Jacobson', 'staff', '4049446441', '479 Musgrave Street', 'Atlanta', 'GA', '30303')
(4, 'Andrew', 'Stepp', 'student', '7866419252', '2981 Lamberts Branch Road', 'Hialeah', 'Fl', '33012')
(5, 'Jane', 'Evans', 'student', '3259909290', '1461 Briarhill Lane', 'Abilene', 'TX', '79602')
(7, 'Mary', 'Raines', 'student', '9075772295', '3975 Jerry Toth Drive', 'Ninilchik', 'AK', '99639')
(8, 'Ed', 'Lyman', 'student', '5179695576', '2910 Simpson Avenue', 'York', 'PA', '174303')

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [17]:
# Your code here
db.commit()

## Summary

While there's certainly more to do with setting up and managing this database, you got a taste for creating, populating, and maintaining databases! Feel free to continue fleshing out this exercise for more practice.